

<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">


    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0ymRb6jQAsgtoUnMO10-x6CjUe0PZK88">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: 54.9000, lng: 25.3167},
          zoom: 4
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        function addMarker(location) {
        console.log("********* Location: " + JSON.stringify(location));



          var marker = new google.maps.Marker({
              position: {lat: location.lat, lng: location.lon},
              map: map,
              draggable: true,
              title: location.country
          });
          var infowindow = new google.maps.InfoWindow({
              content: unescape(location.country + ': ' + location.count)
          });
          infowindow.open(map,marker);

          google.maps.event.addListener(marker, 'dragend', function() {

            alert('map dragged');
            console.log(marker.getTitle());
            console.log(marker.getPosition());


            $('#myModal').modal('show');


            var position = marker.getPosition();
            var lat = position.k;
            var lng = position.D;
            console.log("********** lat + Lon: " + lat + lng);

            var request = new XMLHttpRequest();

            request.open("GET","updatecountry?currentCountry="+location.country+"&lat="+lat+"&lng="+lng,true);
            var send = request.send();


            console.log("SEND: ************ " + JSON.stringify(send));


          } );


        }

      <% accountloc_geomap.keys().forEach(function(location) { %>

        	    addMarker(JSON.parse('<%- JSON.stringify(accountloc_geomap.get(location)) %>'));

        <% }); %>

       setTimeout(function() {
          map.setCenter({lat: 54.9000, lng: 25.3167});
        }, 800);
      }

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>

    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Account Update</h3>
    </div>
    <div class="modal-body">
      <p>Updating…</p>
    </div>
    <div class="modal-footer">
    </div>
</div>


    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
